
#
# -------- USER SPACE --------
#
CONFIG_BASIC_EXAMPLE=y
# CONFIG_BLUETOOTH_LE_EXAMPLE is not set
# CONFIG_THREAD_EXAMPLE is not set
# CONFIG_SUBG_EXAMPLE is not set
# CONFIG_OTHERS_EXAMPLE is not set

#
# PERIPERHAL EXAMPLES
#
# CONFIG_PERIPHERAL_EXAMPLE_SADC is not set
# CONFIG_PERIPHERAL_EXAMPLE_AUX is not set
# CONFIG_PERIPHERAL_EXAMPLE_BOD is not set
CONFIG_PERIPHERAL_EXAMPLE_CRYPTO=y
# CONFIG_PERIPHERAL_EXAMPLE_DMA is not set
# CONFIG_PERIPHERAL_EXAMPLE_FLASH is not set
# CONFIG_PERIPHERAL_EXAMPLE_GPIO is not set
# CONFIG_PERIPHERAL_EXAMPLE_I2C is not set
# CONFIG_PERIPHERAL_EXAMPLE_I2S is not set
# CONFIG_PERIPHERAL_EXAMPLE_IRM is not set
# CONFIG_PERIPHERAL_EXAMPLE_LPM is not set
# CONFIG_PERIPHERAL_EXAMPLE_PWM is not set
# CONFIG_PERIPHERAL_EXAMPLE_QSPI is not set
# CONFIG_PERIPHERAL_EXAMPLE_RTC is not set
# CONFIG_PERIPHERAL_EXAMPLE_SWI is not set
# CONFIG_PERIPHERAL_EXAMPLE_SLOW_TIMER is not set
# CONFIG_PERIPHERAL_EXAMPLE_TIMER is not set
# CONFIG_PERIPHERAL_EXAMPLE_UART is not set
# CONFIG_PERIPHERAL_EXAMPLE_WDT is not set
# CONFIG_PER_CRYPTO_AES128_CBC is not set
# CONFIG_PER_CRYPTO_AES128_CTR is not set
# CONFIG_PER_CRYPTO_AES128_DECRYPT is not set
# CONFIG_PER_CRYPTO_AES128_ENCRYPT is not set
# CONFIG_PER_CRYPTO_AES192_CTR is not set
# CONFIG_PER_CRYPTO_AES256_DECRYPT is not set
# CONFIG_PER_CRYPTO_AES256_ENCRYPT is not set
# CONFIG_PER_CRYPTO_CCM is not set
# CONFIG_PER_CRYPTO_CURVE_C25519_1 is not set
# CONFIG_PER_CRYPTO_CURVE_C25519_2 is not set
# CONFIG_PER_CRYPTO_ECC_GF2M_BL163_1 is not set
# CONFIG_PER_CRYPTO_ECC_GF2M_BL163_2 is not set
# CONFIG_PER_CRYPTO_ECC_GFP_192 is not set
# CONFIG_PER_CRYPTO_ECC_GFP_192_ECDH is not set
CONFIG_PER_CRYPTO_ECC_GFP_256_ECDH=y
# CONFIG_PER_CRYPTO_ECDSA is not set
# CONFIG_PER_CRYPTO_ECJPAKE is not set
# CONFIG_PER_CRYPTO_HMAC_DRBG is not set
# CONFIG_PER_CRYPTO_HMAC is not set
# CONFIG_PER_CRYPTO_HKDF is not set
# CONFIG_PER_CRYPTO_PBKDF2 is not set
# end of PERIPERHAL EXAMPLES

CONFIG_CRYPTO_AES_ENABLE=y
CONFIG_CRYPTO_C25519_ENABLE=y
CONFIG_CRYPTO_SECP256R1_ENABLE=y
CONFIG_CRYPTO_SECP192R1_ENABLE=y
CONFIG_CRYPTO_SECT163R2_ENABLE=y

#
# PROJECT CONFIG
#
# end of PROJECT CONFIG

CONFIG_BUILD_PORJECT="crypto_ecc_gfp_p256_ecdh"

#
# PROJECT CONFIG
#
# end of PROJECT CONFIG

#
# SELECT DEVICE
#
# CONFIG_RT581 is not set
# CONFIG_RT582_NONE_OS is not set
CONFIG_RT582=y
# CONFIG_RT583 is not set
# CONFIG_RT584S is not set
# CONFIG_RT584H is not set
# CONFIG_RT584L is not set
# CONFIG_RT584H_NONE_OS is not set
# CONFIG_RT584L_NONE_OS is not set
# CONFIG_RT584S_NONE_OS is not set
CONFIG_CHIP="RT582"
CONFIG_EVB=y
# CONFIG_DONGLE is not set
CONFIG_BOARD="EVB"

#
# EVK Board Config
#
CONFIG_HOSAL_SOC_MAIN_ENTRY_TASK_SIZE=256
CONFIG_HOSAL_SOC_MAIN_ENTRY_TASK_PRIORITY=5
# CONFIG_HOSAL_SOC_DISABLE_MP_SECTOR_INIT is not set
# CONFIG_HOSAL_SOC_IDLE_SLEEP is not set
CONFIG_HOSAL_SOC_TARGET_CUSTOMER=""
# end of EVK Board Config

CONFIG_CPU_COMPILER_FLAG="-mcpu=cortex-m3"
CONFIG_FREERTOS=y
CONFIG_DRIVER=y
CONFIG_CRYPTO=y
CONFIG_HOSAL=y
# end of SELECT DEVICE

#
# SELECT COMPONENT
#
# CONFIG_BUILD_COMPONENT_CPC is not set
# CONFIG_BUILD_COMPONENT_BLUETOOTH is not set
# CONFIG_BUILD_COMPONENT_LMAC5P4 is not set
CONFIG_BUILD_COMPONENT_RT569=y
CONFIG_BUILD_COMPONENT_RT569_RF=y
CONFIG_BUILD_COMPONENT_RT569_FW=y
# CONFIG_BUILD_COMPONENT_CSS is not set
CONFIG_BUILD_COMPONENT_RUCI=y
# CONFIG_BUILD_COMPONENT_SUBG_CTRL is not set

#
# THREAD
#
# CONFIG_BUILD_COMPONENT_OPENTHREAD is not set
# CONFIG_BUILD_COMPONENT_OPENTHREAD_SUBG is not set
# CONFIG_BUILD_COMPONENT_OPENTHREAD_PORT is not set
# end of THREAD

#
# CRYPTO
#
# end of CRYPTO

# CONFIG_BUILD_COMPONENT_ZIGBEE is not set
CONFIG_BUILD_COMPONENT_UTILITY=y
CONFIG_BUILD_COMPONENT_CLI=y
# CONFIG_BUILD_COMPONENT_ENHANCED_FLASH_DATASET is not set
CONFIG_BUILD_COMPONENT_NEWLIBC=y
CONFIG_BUILD_COMPONENT_LOG=y
CONFIG_BUILD_COMPONENT_UART_STDIO=y
# CONFIG_BUILD_COMPONENT_SYSLOG is not set
# CONFIG_BUILD_COMPONENT_SW_TIMER is not set
# CONFIG_BUILD_COMPONENT_LZMADEC is not set
# CONFIG_BUILD_COMPONENT_VERSION_INFO is not set
# end of SELECT COMPONENT

#
# -------- KERNEL SPACE --------
#

#
# COMPILIER SETTING
#
CONFIG_OPT_DEFAULT=y
# CONFIG_OPT_O is not set
# CONFIG_OPT_O0 is not set
# CONFIG_OPT_O1 is not set
# CONFIG_OPT_O2 is not set
# CONFIG_OPT_O3 is not set
# CONFIG_OPT_Ofast is not set
# CONFIG_OPT_Og is not set
# CONFIG_OPT_Os is not set
# CONFIG_OPT_Oz is not set
CONFIG_COMPILE_OPTIMIZATION="-O"
CONFIG_CUSTOM_COMPILE_FLAG=""
# end of COMPILIER SETTING

#
# COMPONENT SETTING
#

#
# NETWORK
#

#
# Select Supported FW Images
#
CONFIG_RF_FW_INCLUDE_PCI=y
CONFIG_RF_FW_INCLUDE_BLE=y
CONFIG_RF_FW_INCLUDE_MULTI_2P4G=y
CONFIG_RF_FW_INCLUDE_MAC_ACC=y
CONFIG_RF_FW_INCLUDE_HYBRID_INST=y
CONFIG_RF_FW_INCLUDE_INTERNAL_TEST=y
CONFIG_RF_MCU_CONST_LOAD_SUPPORTED=y
# end of Select Supported FW Images

#
# THREAD
#
CONFIG_OPENTHREAD_TASK_SIZE=4096

#
# OT DEVICE ROLE
#
CONFIG_OT_DEVICE_TYPE_FTD=y
# CONFIG_OT_DEVICE_TYPE_MTD is not set
# CONFIG_OT_DEVICE_TYPE_RCP is not set
# end of OT DEVICE ROLE
# end of THREAD
# end of NETWORK

#
# PLATFROM
#

#
# UTLITY
#

#
# UART Console
#
CONFIG_UART_STDIO_PORT=0
CONFIG_UART_STDIO_TX_PIN=17
CONFIG_UART_STDIO_RX_PIN=16
CONFIG_UART_STDIO_BAUDRATE=2000000
# end of UART Console

#
# Sofware timer
#
# CONFIG_SW_TIMER_ENABLE_DEBUG is not set
# end of Sofware timer

CONFIG_LOG_MAX_LEVEL=1
# end of UTLITY
# end of COMPONENT SETTING

#
# PERIPERHAL SLEECT
#
CONFIG_PERIPHERAL_DMA=y
CONFIG_PERIPHERAL_PWM=y
CONFIG_PERIPHERAL_I2S=y
CONFIG_PERIPHERAL_I2C=y
CONFIG_PERIPHERAL_SPI=y
CONFIG_PERIPHERAL_SADC=y
CONFIG_PERIPHERAL_RTC=y
CONFIG_PERIPHERAL_TIMER=y
CONFIG_PERIPHERAL_SWI=y
CONFIG_PERIPHERAL_COMP=y
# end of PERIPERHAL SLEECT

