
#
# -------- USER SPACE --------
#
# CONFIG_BASIC_EXAMPLE is not set
# CONFIG_PERIPHERAL_EXAMPLE is not set
CONFIG_BLUETOOTH_LE_EXAMPLE=y

#
# BLE ROLE TYPE
#
CONFIG_BLE_PERIPHERAL_ROLE=y
# CONFIG_BLE_CENTRAL_ROLE is not set
# CONFIG_BLE_MULTI_LINK is not set
# CONFIG_BLE_OTHERS is not set
CONFIG_PERIPH_HEART_RATE=y
# CONFIG_PERIPH_HOGP is not set
# CONFIG_PERIPH_TRSP is not set
# CONFIG_PERIPH_TRSP_FOTA is not set
# CONFIG_PERIPH_DATA_RATE is not set
# end of BLE ROLE TYPE

CONFIG_BUILD_PORJECT="periph-hrs"

#
# PROJECT CONFIG
#
CONFIG_HOSAL_SOC_MAIN_ENTRY_TASK_SIZE=256
# end of PROJECT CONFIG

#
# SELECT DEVICE
#
# CONFIG_RT581 is not set
CONFIG_RT582=y
# CONFIG_RT583 is not set
# CONFIG_RT584 is not set
CONFIG_CHIP="RT582"
CONFIG_EVB=y
# CONFIG_DONGLE is not set
CONFIG_BOARD="EVB"

#
# RT582 EVB
#
CONFIG_HOSAL_SOC_MAIN_ENTRY_TASK_PRIORITY=5
# CONFIG_HOSAL_SOC_IDLE_SLEEP is not set
CONFIG_HOSAL_SOC_TARGET_CUSTOMER=""
# end of RT582 EVB

CONFIG_CPU_COMPILER_FLAG="-mcpu=cortex-m3"
CONFIG_FREERTOS=y
CONFIG_DRIVER=y
CONFIG_CRYPTO=y
CONFIG_HOSAL=y
# end of SELECT DEVICE

#
# SELECT COMPONENT
#
# CONFIG_BUILD_COMPONENT_CPC is not set
CONFIG_BUILD_COMPONENT_BLUETOOTH=y
# CONFIG_BUILD_COMPONENT_BLUETOOTH_HCI_BRIDGE is not set
CONFIG_BUILD_COMPONENT_BLUETOOTH_LE_HOST=y
# CONFIG_BUILD_COMPONENT_LMAC5P4 is not set
CONFIG_BUILD_COMPONENT_RT569=y
CONFIG_BUILD_COMPONENT_RT569_RF=y
CONFIG_BUILD_COMPONENT_RT569_FW=y
# CONFIG_BUILD_COMPONENT_CSS is not set
CONFIG_BUILD_COMPONENT_RUCI=y
# CONFIG_BUILD_COMPONENT_SUBG_CTRL is not set

#
# THREAD
#
# CONFIG_BUILD_COMPONENT_OPENTHREAD is not set
# CONFIG_BUILD_COMPONENT_OPENTHREAD_SUBG is not set
# CONFIG_BUILD_COMPONENT_OPENTHREAD_PORT is not set
# end of THREAD

# CONFIG_BUILD_COMPONENT_ZIGBEE is not set
# CONFIG_BUILD_COMPONENT_CLI is not set
# CONFIG_BUILD_COMPONENT_ENHANCED_FLASH_DATASET is not set
CONFIG_BUILD_COMPONENT_NEWLIBC=y
CONFIG_BUILD_COMPONENT_LOG=y
CONFIG_BUILD_COMPONENT_UART_STDIO=y
CONFIG_BUILD_COMPONENT_UTILITY=y
# CONFIG_BUILD_COMPONENT_SYSLOG is not set
# CONFIG_BUILD_COMPONENT_SW_TIMER is not set
# end of SELECT COMPONENT

#
# SELECT SUPPORT BLE SERVICES
#
CONFIG_BLUETOOTH_LE_SERVICE_GAP=y
CONFIG_BLUETOOTH_LE_SERVICE_DIS=y
CONFIG_BLUETOOTH_LE_SERVICE_GATT=y
CONFIG_BLUETOOTH_LE_SERVICE_BAS=y
# CONFIG_BLUETOOTH_LE_SERVICE_BLS is not set
# CONFIG_BLUETOOTH_LE_SERVICE_FOTA is not set
# CONFIG_BLUETOOTH_LE_SERVICE_HID is not set
CONFIG_BLUETOOTH_LE_SERVICE_HRS=y
# CONFIG_BLUETOOTH_LE_SERVICE_MESH is not set
# CONFIG_BLUETOOTH_LE_SERVICE_TRSP is not set
# end of SELECT SUPPORT BLE SERVICES

#
# -------- KERNEL SPACE --------
#

#
# COMPILIER SETTING
#
# CONFIG_OPT_DEFAULT is not set
# CONFIG_OPT_O is not set
# CONFIG_OPT_O0 is not set
# CONFIG_OPT_O1 is not set
CONFIG_OPT_O2=y
# CONFIG_OPT_O3 is not set
# CONFIG_OPT_Ofast is not set
# CONFIG_OPT_Og is not set
# CONFIG_OPT_Os is not set
# CONFIG_OPT_Oz is not set
CONFIG_COMPILE_OPTIMIZATION="-O2"
CONFIG_CUSTOM_COMPILE_FLAG=""
# end of COMPILIER SETTING

#
# COMPONENT SETTING
#

#
# NETWORK
#

#
# BLE MAX LINK NUM
#
CONFIG_BLE_SUPPORT_NUM_CONN_MAX=1
# end of BLE MAX LINK NUM

#
# Select Supported FW Images
#
# CONFIG_RF_FW_INCLUDE_PCI is not set
CONFIG_RF_FW_INCLUDE_BLE=y
# CONFIG_RF_FW_INCLUDE_MULTI_2P4G is not set
# CONFIG_RF_FW_INCLUDE_MAC_ACC is not set
# CONFIG_RF_FW_INCLUDE_HYBRID_INST is not set
# CONFIG_RF_FW_INCLUDE_INTERNAL_TEST is not set
# end of Select Supported FW Images

#
# THREAD
#
CONFIG_OPENTHREAD_TASK_SIZE=4096
# CONFIG_OT_DEVICE_TYPE_FTD is not set
# CONFIG_OT_DEVICE_TYPE_MTD is not set
CONFIG_OT_DEVICE_TYPE_RCP=y
CONFIG_OT_RCP_HDLC=y
# CONFIG_OT_RCP_EZMESH is not set
# end of THREAD
# end of NETWORK

#
# PLATFROM
#

#
# UTLITY
#

#
# UART Console
#
CONFIG_UART_STDIO_PORT=0
CONFIG_UART_STDIO_TX_PIN=16
CONFIG_UART_STDIO_RX_PIN=17
CONFIG_UART_STDIO_BAUDRATE=115200
# end of UART Console

#
# Sofware timer
#
# CONFIG_SW_TIMER_ENABLE_DEBUG is not set
# end of Sofware timer

CONFIG_LOG_MAX_LEVEL=3
# end of UTLITY
# end of COMPONENT SETTING
