menu "THREAD"

config RADIO_2P4GHZ_OQPSK_SUPPORT
    # depends on BUILD_COMPONENT_OPENTHREAD
    # bool "2.4G"
	def_bool false
    help
        2.4G

config RADIO_SUBGHZ_OQPSK_SUPPORT
    # depends on BUILD_COMPONENT_OPENTHREAD_SUBG
    # bool "Sub-G"
	def_bool false
    help
        Sub-G
config OPENTHREAD_TASK_SIZE
    int "OPENTHREAD TASK SIZE"
    default 4096
    help
        OPENTHREAD TASK SIZE

choice OT_DEVICE_TYPE
prompt "OT DEVICE TYPE"
default OT_DEVICE_TYPE_RCP

config OT_DEVICE_TYPE_FTD
    bool "Full thread device"

config OT_DEVICE_TYPE_MTD
    bool "Minimal thread device"

config OT_DEVICE_TYPE_RCP
    bool "Thread radio co-processor"    

endchoice

choice OT_RCP_INTERFACE
depends on OT_DEVICE_TYPE_RCP
prompt "OT RCP INTERFACE"
default OT_RCP_HDLC

config OT_RCP_HDLC
    bool "HDLC"


config OT_RCP_EZMESH
    bool "EZMESH"

endchoice
endmenu