menu "PROJECT CONFIG"

choice 
        prompt "Select bit mode"
        default EPD_FOUR_BIT_MODE

        config EPD_FOUR_BIT_MODE
            bool "EPD_4BIT_MODE"

        config EPD_THREE_BIT_MODE
            bool "EPD_3BIT_MODE"

endchoice

endmenu
