
#
# -------- USER SPACE --------
#
CONFIG_BASIC_EXAMPLE=y
# CONFIG_PERIPHERAL_EXAMPLE is not set
# CONFIG_BLUETOOTH_LE_EXAMPLE is not set
# CONFIG_HCI_RAW is not set
# CONFIG_HELLOWORLD is not set
# CONFIG_BOOTLOADER_APP is not set
CONFIG_MULTI_PROTOCOL_RCP=y
# CONFIG_SUBG_THREAD_METER is not set
# CONFIG_SUBG_THREAD_NCP is not set
# CONFIG_OT_CLI_FTD is not set
# CONFIG_RF_EV_UB is not set
CONFIG_BUILD_PORJECT="multi-rcp"

#
# PROJECT CONFIG
#
# CONFIG_APP_MULTI_RCP_ZB_GW is not set
# CONFIG_APP_ENABLE_3W_PTA is not set

#
# EZmesh Operation UART Settings
#
CONFIG_APP_EZMESH_OPERATION_UART_PORT=0
CONFIG_APP_EZMESH_OPERATION_UART_TX_PIN=16
CONFIG_APP_EZMESH_OPERATION_UART_RX_PIN=17
CONFIG_APP_EZMESH_OPERATION_UART_BAUDRATE=500000
# end of EZmesh Operation UART Settings

CONFIG_HOSAL_SOC_MAIN_ENTRY_TASK_SIZE=256
# end of PROJECT CONFIG

#
# SELECT DEVICE
#
# CONFIG_RT581 is not set
CONFIG_RT582=y
# CONFIG_RT583 is not set
# CONFIG_RT584 is not set
CONFIG_CHIP="RT582"
# CONFIG_EVB is not set
CONFIG_DONGLE=y
CONFIG_BOARD="DONGLE"
CONFIG_HOSAL_SOC_MAIN_ENTRY_TASK_PRIORITY=5
# CONFIG_HOSAL_SOC_IDLE_SLEEP is not set
CONFIG_HOSAL_SOC_TARGET_CUSTOMER=""

#
# RT582 EVB
#
# end of RT582 EVB

CONFIG_CPU_COMPILER_FLAG="-mcpu=cortex-m3"
CONFIG_FREERTOS=y
CONFIG_DRIVER=y
CONFIG_CRYPTO=y
CONFIG_HOSAL=y
# end of SELECT DEVICE

#
# SELECT COMPONENT
#
CONFIG_BUILD_COMPONENT_CPC=y
CONFIG_BUILD_COMPONENT_BLUETOOTH=y
CONFIG_BUILD_COMPONENT_BLUETOOTH_HCI_BRIDGE=y
# CONFIG_BUILD_COMPONENT_BLUETOOTH_LE_HOST is not set
CONFIG_BUILD_COMPONENT_LMAC5P4=y
CONFIG_BUILD_COMPONENT_RT569=y
CONFIG_BUILD_COMPONENT_RT569_RF=y
CONFIG_BUILD_COMPONENT_RT569_FW=y
# CONFIG_BUILD_COMPONENT_CSS is not set
CONFIG_BUILD_COMPONENT_RUCI=y
# CONFIG_BUILD_COMPONENT_SUBG_CTRL is not set

#
# THREAD
#
CONFIG_BUILD_COMPONENT_OPENTHREAD=y
# CONFIG_BUILD_COMPONENT_OPENTHREAD_SUBG is not set
CONFIG_BUILD_COMPONENT_OPENTHREAD_PORT=y
# end of THREAD

# CONFIG_BUILD_COMPONENT_ZIGBEE is not set
CONFIG_BUILD_COMPONENT_CLI=y
CONFIG_BUILD_COMPONENT_ENHANCED_FLASH_DATASET=y
CONFIG_BUILD_COMPONENT_NEWLIBC=y
CONFIG_BUILD_COMPONENT_LOG=y
CONFIG_BUILD_COMPONENT_UART_STDIO=y
CONFIG_BUILD_COMPONENT_UTILITY=y
# CONFIG_BUILD_COMPONENT_SYSLOG is not set
CONFIG_BUILD_COMPONENT_SW_TIMER=y
# end of SELECT COMPONENT

#
# -------- KERNEL SPACE --------
#

#
# COMPILIER SETTING
#
# CONFIG_OPT_DEFAULT is not set
# CONFIG_OPT_O is not set
# CONFIG_OPT_O0 is not set
# CONFIG_OPT_O1 is not set
CONFIG_OPT_O2=y
# CONFIG_OPT_O3 is not set
# CONFIG_OPT_Ofast is not set
# CONFIG_OPT_Og is not set
# CONFIG_OPT_Os is not set
# CONFIG_OPT_Oz is not set
CONFIG_COMPILE_OPTIMIZATION="-O2"
CONFIG_CUSTOM_COMPILE_FLAG=""
# end of COMPILIER SETTING

#
# COMPONENT SETTING
#

#
# CPC
#
CONFIG_CPC_RX_PAYLOAD_MAX_LENGTH=512
# CONFIG_CPC_CRC_0 is not set
CONFIG_CPC_ENABLE_ZIGBEE=y
CONFIG_CPC_ENABLE_THREAD=y
CONFIG_CPC_ENABLE_BLUETOOTH=y
# end of CPC

#
# NETWORK
#

#
# Select Supported FW Images
#
# CONFIG_RF_FW_INCLUDE_PCI is not set
# CONFIG_RF_FW_INCLUDE_BLE is not set
CONFIG_RF_FW_INCLUDE_MULTI_2P4G=y
# CONFIG_RF_FW_INCLUDE_MAC_ACC is not set
# CONFIG_RF_FW_INCLUDE_HYBRID_INST is not set
# CONFIG_RF_FW_INCLUDE_INTERNAL_TEST is not set
CONFIG_RF_MCU_CONST_LOAD_SUPPORTED=y
# end of Select Supported FW Images

#
# THREAD
#
CONFIG_OPENTHREAD_TASK_SIZE=512
# CONFIG_OT_DEVICE_TYPE_FTD is not set
# CONFIG_OT_DEVICE_TYPE_MTD is not set
CONFIG_OT_DEVICE_TYPE_RCP=y
# CONFIG_OT_RCP_HDLC is not set
CONFIG_OT_RCP_EZMESH=y
# end of THREAD
# end of NETWORK

#
# PLATFROM
#

#
# UTLITY
#

#
# UART Console
#
CONFIG_UART_STDIO_PORT=1
CONFIG_UART_STDIO_TX_PIN=28
CONFIG_UART_STDIO_RX_PIN=29
CONFIG_UART_STDIO_BAUDRATE=2000000
# end of UART Console

#
# Sofware timer
#
# CONFIG_SW_TIMER_ENABLE_DEBUG is not set
# end of Sofware timer

CONFIG_LOG_LEVEL=1
# end of UTLITY
# end of COMPONENT SETTING
