config APP_MULTI_RCP_ZB_GW
    bool "Support zigbee gateway module feature"
	def_bool false
    help
        Test BOOL description

config APP_ENABLE_3W_PTA
    bool "Enable 3W PTA (ble with wifi)"
    def_bool false


menu "EZmesh Operation UART Settings"
config APP_EZMESH_OPERATION_UART_PORT
    int "UART PORT"
	def_int 1

config APP_EZMESH_OPERATION_UART_TX_PIN
    int "EZMesh UART Tx PIN"
    def_int 28
    range 0 32

config APP_EZMESH_OPERATION_UART_RX_PIN
    int "EZMesh UART Rx PIN"
    def_int 29
    range 0 32

config APP_EZMESH_OPERATION_UART_BAUDRATE
    int "EZMesh UART baudrate"
	def_int 2000000
endmenu    