menu "SELECT DEVICE"

choice CHIP_TYPE
	prompt "CHIP TYPE"
	default RT582

config RT581
	bool "RT581"
	select FREERTOS
	select DRIVER
	select CRYPTO
	select HOSAL
	select BUILD_COMPONENT_RT569
	select BUILD_COMPONENT_RUCI
	select BUILD_COMPONENT_NEWLIBC	
	help
	  RT581.

config RT582
	bool "RT582"
	select FREERTOS
	select DRIVER
	select CRYPTO
	select HOSAL
	select BUILD_COMPONENT_RT569
	select BUILD_COMPONENT_RUCI
	select BUILD_COMPONENT_NEWLIBC
	help
	  RT582.

config RT583
	bool "RT583"
	select FREERTOS
	select DRIVER
	select CRYPTO
	select HOSAL
	select BUILD_COMPONENT_RT569
	select BUILD_COMPONENT_RUCI
	select BUILD_COMPONENT_NEWLIBC	
	help
	  RT583.

config RT584
	bool "RT584"
	select FREERTOS
	select DRIVER
	select CRYPTO
	select HOSAL
	#select BUILD_COMPONENT_RT569
	#select BUILD_COMPONENT_RUCI
	#select BUILD_COMPONENT_NEWLIBC
	help
	  RT584.

endchoice

config CHIP
    string
    default "RT581" if RT581
    default "RT582" if RT582
    default "RT583" if RT583
    default "RT584" if RT584

choice BOARD_TYPE
	prompt "BOARD TYPE"
	default NONE
if RT581
config NONE
	bool "None"
	help
	  None.
endif # RT581

if RT582
config EVB
	bool "EVB"
	help
	  EVB.

config DONGLE
	bool "DONGLE"
	help
	  Dongle.
endif # RT582

if RT583
config NONE
	bool "None"
	help
	  None.
endif # RT583

if RT584
config NONE
	bool "None"
	help
	  None.
endif # RT584
endchoice

config BOARD
    string 
    default "EVB" if EVB
    default "DONGLE" if DONGLE
    default "NONE" if NONE

if RT584
choice TRUST_ZONE_TYPE
	prompt "TRUST ZONE TYPE"
	default TRUST_ZONE_SECURE

config NOT_TRUST_ZONE
	bool "NOT TRUST ZONE"
	help
	  NOT TRUST ZONE.
config TRUST_ZONE_SECURE
	bool "TRUST ZONE SECURE"
	help
	  TRUST ZONE SECURE.
config TRUST_ZONE_NONSECURE
	bool "TRUST ZONE NONSECURE"
	help
	  TRUST ZONE NONSECURE.
endchoice

config TRUST_ZONE
    string 
    default "NOT_TRUST_ZONE" if NOT_TRUST_ZONE
    default "TRUST_ZONE_SECURE" if TRUST_ZONE_SECURE
    default "TRUST_ZONE_NONSECURE" if TRUST_ZONE_NONSECURE

endif # RT584

if RT582 && EVB
source "components/platform/soc/rt582/rt582_evb/Kconfig"
endif # CHIP_TYPE="RT582" && BOARD_TYPE="EVB"

if RT582 && DONGLE
source "components/platform/soc/rt582/rt582_dongle/Kconfig"
endif # CHIP_TYPE="RT582" && BOARD_TYPE="DONGLE"

if RT582
config CPU_COMPILER_FLAG
	string
	default "-mcpu=cortex-m3"
    depends on RT582
	help
	  CPU_COMPILER_FLAG

config FREERTOS
	bool
	default 1
    depends on RT582
	help
	  FREERTOS

config DRIVER
	bool
	default 1
    depends on RT582
	help
	  DRIVER

config CRYPTO
	bool
	default 1
    depends on RT582
	help
	  CRYPTO
config CRYPTO_SECP256R1_ENABLE
	bool
	default 0
	help
	  CRYPTO_SECP256R1_ENABLE

config HOSAL
	bool
	default 1
    depends on RT582
	help
	  HOSAL
endif

if RT584
config CPU_COMPILER_FLAG
	string
	default "-mcpu=cortex-m33"
    depends on RT584
	help
	  CPU_COMPILER_FLAG

config FREERTOS
	bool
	default 1
    depends on RT584
	help
	  FREERTOS

config DRIVER
	bool
	default 1
    depends on RT584
	help
	  DRIVER

config CRYPTO
	bool
	default 1
    depends on RT584
	help
	  CRYPTO
config CRYPTO_SECP256R1_ENABLE
	bool
	default 0
	help
	  CRYPTO_SECP256R1_ENABLE

config HOSAL
	bool
	default 1
    depends on RT584
	help
	  HOSAL
endif


endmenu