
choice
    prompt "Select Example Type"
    default PERIPHERAL_EXAMPLE

config BASIC_EXAMPLE
	bool "BASIC_EXAMPLE"

config PERIPHERAL_EXAMPLE
	bool "PERIPHERAL_EXAMPLE"

config BLUETOOTH_LE_EXAMPLE
    bool "BLUETOOTH_LE_EXAMPLE"

endchoice

choice
    prompt "Select Project"

if BASIC_EXAMPLE
source "config/application_example.config"
endif # BASIC_EXAMPLE

if PERIPHERAL_EXAMPLE
source "config/peripheral_example.config"
endif # PERIPHERAL_EXAMPLE

if BLUETOOTH_LE_EXAMPLE
source "config/bluetooth_le_example.config"
endif  # BLUETOOTH_LE_EXAMPLE

endchoice

config BUILD_PORJECT
    string
    default "hci_raw" if HCI_RAW
    default "helloworld" if HELLOWORLD
    default "bootloader-app" if BOOTLOADER_APP
    default "multi-rcp" if MULTI_PROTOCOL_RCP
    default "subg_thread_meter" if SUBG_THREAD_METER
    default "subg_thread_ncp" if SUBG_THREAD_NCP
    default "ot-cli-ftd" if OT_CLI_FTD
    default "ot-cli-mtd-sleep" if OT_CLI_MTD
    default "gpio-input" if PER_GPIO_INPUT
    default "gpio-interrupt" if PER_GPIO_INTERRUPT
    default "gpio-output" if PER_GPIO_OUTPUT
    default "i2c-master" if PER_I2C_MASTER
    default "i2c-slave" if PER_I2C_SLAVE
    default "i2s-loopback" if PER_I2S_LOOPBACK
    default "rtc-event" if PER_RTC_EVENT
    default "rtc-everytime" if PER_RTC_EVERYTIME
    default "rtc-matchtime" if PER_RTC_MATCHTIME
    default "sadc" if PER_SADC
    default "slow-timer-freerun-downcount" if PER_SLOW_TIMER_FREERUN_DOWNCOUNT
    default "slow-timer-periodic" if PER_SLOW_TIMER_PERIODIC
    default "timer-freerun-downcount" if PER_TIMER_FREERUN_DOWNCOUNT
    default "timer-freerun-upcount" if PER_TIMER_FREERUN_UPCOUNT
    default "timer-oneshot" if PER_TIMER_ONESHOT
    default "timer-periodic" if PER_TIMER_PERIODIC
    default "wdt-interrupt" if PER_WDT_INTERRUPT
    default "wdt-reset" if PER_WDT_RESET
    default "flash" if PER_FLASH
    default "swi" if PER_SWI
    default "dma_mem_interrupt" if PER_DMA_MEM_INTERRUPT
    default "dma_mem_polling" if PER_DMA_MEM_POLLING
    default "dma_link_list" if PER_DMA_LINK_LIST
	default "crypto" if PER_CRYPTO
	default "crypto_ccm" if PER_CRYPTO_CCM
	default "crypto_ecdsa" if PER_CRYPTO_ECDSA
	default "crypto_ecjpake" if PER_CRYPTO_ECJPAKE
	default "crypto_hmac" if PER_CRYPTO_HMAC
	default "crypto_hmac_drbg" if PER_CRYPTO_HMAC_DRBG
	default "crypto_PBKDF2"	if PER_CRYPTO_PBKDF2
	default "crypto_sha256" if PER_CRYPTO_SHA256
    default "pwm_fmt1_duty" if PER_PWM_FMT1_DUTY
    default "pwm_fmt0_duty" if PER_PWM_FMT0_DUTY
    default "pwm_multi_fmt1_duty" if PER_PWM_MULTI_FMT1_DUTY
    default "pwm_multi_fmt0_duty" if PER_PWM_MULTI_FMT0_DUTY
    default "periph-hrs" if PERIPH_HEART_RATE
    default "periph-hogp" if PERIPH_HOGP
    default "periph-trsp" if PERIPH_TRSP
    default "periph-trsp-fota" if PERIPH_TRSP_FOTA
    default "periph-data-rate" if PERIPH_DATA_RATE
    default "central-data-rate" if CENTRAL_DATA_RATE
    default "central-trsp" if CENTRAL_TRSP
    default "multi-1c1p" if MULTI_1C1P
    default "power-management" if POWER_MANAGEMENT
    default "at-command" if AT_COMMAND
    default "ibeacon" if IBEACON
    default "lightness-trsp" if LIGHTNESS_TRSP
    default "uart1_dma_it_loopback" if PER_UART1_DMA_IT_LOOPBACK
    default "uart1_dma_loopback" if PER_UART1_DMA_LOOPBACK
    default "uart1_hwflow_loopback" if PER_UART1_HWFLOW_LOOPBACK
    default "uart1_loopback" if PER_UART1_LOOPBACK
    default "uart1_uart2_loopback" if PER_UART1_UART2_DMA_LOOPBACK
    default "rf-ev-ub" if RF_EV_UB

menu "PROJECT CONFIG"
if HCI_RAW
source "examples/hci_raw/Kconfig"
endif

if HELLOWORLD
source "examples/helloworld/Kconfig"
endif

if BOOTLOADER_APP
source "examples/bootloader-app/Kconfig"
endif

if MULTI_PROTOCOL_RCP
source "examples/multi-rcp/Kconfig"
endif

if SUBG_THREAD_METER
source "examples/subg_thread_meter/Kconfig"
endif

if SUBG_THREAD_NCP
source "examples/subg_thread_ncp/Kconfig"
endif

if OT_CLI_FTD
source "examples/ot-cli-ftd/Kconfig"
endif

if OT_CLI_MTD
source "examples/ot-cli-mtd-sleep/Kconfig"
endif

if PER_GPIO_INPUT
source "examples/peripheral/gpio-input/Kconfig"
endif

if PER_GPIO_INTERRUPT
source "examples/peripheral/gpio-interrupt/Kconfig"
endif

if PER_GPIO_OUTPUT
source "examples/peripheral/gpio-output/Kconfig"
endif

if PER_I2C_MASTER
source "examples/peripheral/i2c-master/Kconfig"
endif

if PER_I2C_SLAVE
source "examples/peripheral/i2c-slave/Kconfig"
endif

if PER_I2S_LOOPBACK
source "examples/peripheral/i2s-loopback/Kconfig"
endif

if PER_RTC_EVENT
source "examples/peripheral/rtc-event/Kconfig"
endif

if PER_RTC_EVERYTIME
source "examples/peripheral/rtc-everytime/Kconfig"
endif

if PER_RTC_MATCHTIME
source "examples/peripheral/rtc-matchtime/Kconfig"
endif

if PER_SADC
source "examples/peripheral/sadc/Kconfig"
endif

if PER_SLOW_TIMER_FREERUN_DOWNCOUNT
source "examples/peripheral/slow-timer-freerun-downcount/Kconfig"
endif

if PER_SLOW_TIMER_PERIODIC
source "examples/peripheral/slow-timer-periodic/Kconfig"
endif

if PER_TIMER_FREERUN_DOWNCOUNT
source "examples/peripheral/timer-freerun-downcount/Kconfig"
endif

if PER_TIMER_FREERUN_UPCOUNT
source "examples/peripheral/timer-freerun-upcount/Kconfig"
endif

if PER_TIMER_ONESHOT
source "examples/peripheral/timer-oneshot/Kconfig"
endif

if PER_TIMER_PERIODIC
source "examples/peripheral/timer-periodic/Kconfig"
endif

if PER_WDT_INTERRUPT
source "examples/peripheral/wdt-interrupt/Kconfig"
endif

if PER_WDT_RESET
source "examples/peripheral/wdt-reset/Kconfig"
endif

if PER_FLASH
source "examples/peripheral/flash/Kconfig"
endif

if PER_SWI
source "examples/peripheral/swi/Kconfig"
endif

if PER_DMA_MEM_INTERRUPT
source "examples/peripheral/dma_mem_interrupt/Kconfig"
endif

if PER_DMA_MEM_POLLING
source "examples/peripheral/dma_mem_polling/Kconfig"
endif

if PER_DMA_LINK_LIST
source "examples/peripheral/dma_link_list/Kconfig"
endif

if PER_CRYPTO
source "examples/peripheral/crypto/Kconfig"
endif

if PER_CRYPTO_CCM
source "examples/peripheral/crypto_ccm/Kconfig"
endif

if PER_CRYPTO_ECDSA
source "examples/peripheral/crypto_ecdsa/Kconfig"
endif

if PER_CRYPTO_ECJPAKE
source "examples/peripheral/crypto_ecjpake/Kconfig"
endif

if PER_CRYPTO_HMAC
source "examples/peripheral/crypto_hmac/Kconfig"
endif

if PER_CRYPTO_HMAC_DRBG
source "examples/peripheral/crypto_hmac_drbg/Kconfig"
endif

if PER_CRYPTO_PBKDF2
source "examples/peripheral/crypto_pbkdf2/Kconfig"
endif

if PER_CRYPTO_SHA256
source "examples/peripheral/crypto_sha256/Kconfig"
endif

if PER_PWM_FMT1_DUTY
source "examples/peripheral/pwm_fmt1_duty/Kconfig"
endif

if PER_PWM_FMT0_DUTY
source "examples/peripheral/pwm_fmt0_duty/Kconfig"
endif

if PER_PWM_MULTI_FMT1_DUTY
source "examples/peripheral/pwm_multi_fmt1_duty/Kconfig"
endif

if PER_PWM_MULTI_FMT0_DUTY
source "examples/peripheral/pwm_multi_fmt0_duty/Kconfig"
endif

if PER_UART1_DMA_IT_LOOPBACK
source "examples/peripheral/uart1_dma_it_loopback/Kconfig"
endif

if PER_UART1_DMA_LOOPBACK
source "examples/peripheral/uart1_dma_loopback/Kconfig"
endif

if PER_UART1_HWFLOW_LOOPBACK
source "examples/peripheral/uart1_hwflow_loopback/Kconfig"
endif

if PER_UART1_LOOPBACK
source "examples/peripheral/uart1_loopback/Kconfig"
endif

if PER_UART1_UART2_DMA_LOOPBACK
source "examples/peripheral/uart1_uart2_loopback/Kconfig"
endif

if RF_EV_UB
source "examples/rf-ev-ub/Kconfig"
endif

endmenu