config PER_GPIO_INPUT
    bool "gpio-input"

config PER_GPIO_INTERRUPT
    bool "gpio-interrupt"

config PER_GPIO_OUTPUT
    bool "gpio-output"

config PER_I2C_MASTER
    bool "i2c-master"

config PER_I2C_SLAVE
    bool "i2c-slave"
    
config PER_I2S_LOOPBACK
    bool "i2s-loopback"

config PER_RTC_EVENT
    bool "rtc-event"

config PER_RTC_EVERYTIME
    bool "rtc-everytime"

config PER_RTC_MATCHTIME
    bool "rtc-matchtime"

config PER_SADC
    bool "sadc"

config PER_SLOW_TIMER_FREERUN_DOWNCOUNT
    bool "slow-timer-freerun-downcount"

config PER_SLOW_TIMER_PERIODIC
    bool "slow-timer-periodic"

config PER_TIMER_CAPTURE
    bool "timer-capture"

config PER_TIMER_FREERUN_DOWNCOUNT
    bool "timer-freerun-downcount"

config PER_TIMER_FREERUN_UPCOUNT
    bool "timer-freerun-upcount"

config PER_TIMER_ONESHOT
    bool "timer-oneshot"

config PER_TIMER_PERIODIC
    bool "timer-periodic"

config SPI_LOOPBACK
    bool "spi loopback"

config PER_WDT_INTERRUPT
    bool "wdt-interrupt"

config PER_WDT_RESET
    bool "wdt-reset"
    
config PER_FLASH
    bool "flash"
	
config PER_SWI
    bool "swi"

config PER_DMA_MEM_INTERRUPT
    bool "dma_mem_interrupt"

config PER_DMA_MEM_POLLING
    bool "dma_mem_polling"

config PER_DMA_LINK_LIST
    bool "dma_link_list"    
	
config PER_CRYPTO
    bool "crypto"

config PER_CRYPTO_CCM
    bool "crypto_ccm"

config PER_CRYPTO_ECDSA
    bool "crypto_ecdsa"

config PER_CRYPTO_ECJPAKE
    bool "crypto_ecjpake"

config PER_CRYPTO_HMAC
    bool "crypto_hmac"

config PER_CRYPTO_HMAC_DRBG
    bool "crypto_hmac_drbg"

config PER_CRYPTO_PBKDF2
    bool "crypto_pbkdf2"

config PER_CRYPTO_SHA256
    bool "crypto_sha256"

config PER_PWM_FMT1_DUTY
	bool "pwm_fmt1_duty"

config PER_PWM_FMT0_DUTY
	bool "pwm_fmt0_duty"

config PER_PWM_MULTI_FMT1_DUTY
	bool "pwm_multi_fmt1_duty"

config PER_PWM_MULTI_FMT0_DUTY
	bool "pwm_multi_fmt0_duty"

config PER_UART1_DMA_IT_LOOPBACK
	bool "uart1_dma_it_loopback"


config PER_UART1_DMA_LOOPBACK
	bool "uart1_dma_loopback"


config PER_UART1_HWFLOW_LOOPBACK
	bool "uart1_hwflow_loopback"


config PER_UART1_LOOPBACK
	bool "uart1_loopback"


config PER_UART1_UART2_DMA_LOOPBACK
	bool "uart1_uart2_loopback"




	
