choice 
    prompt "Select Example"
    default SUBG_SAMPLE

    config SUBG_SAMPLE
        bool "subg-sample"
    
    config SUBG_TRX
        bool "subg-trx"
       
    config SUBG_WAKE_ON_RADIO
        bool "subg-wake-on-radio"

    config MESH_IT_UP_EAMPLE
        bool "mesh-it-up"

endchoice

if MESH_IT_UP_EAMPLE

choice MESH_IT_UP_EXAMPLE
    prompt "Mesh-it-up Example"
    default MESH_IT_UP_ROUTER

    config MESH_IT_UP_ROUTER
        bool "miu-router"

    config MESH_IT_UP_SLEEPY
        bool "miu-sleepy"

    config MESH_IT_UP_SNIFFER
        bool "miu-sniffer"

    config MESH_IT_UP_BLE_ROUTER
        bool "miu-ble-router"
        help
	        Not implemented yet, please stay tuned.
            
    config MESH_IT_UP_BLE_SLEEPY
        bool "miu-ble-sleepy"
        help
	        Not implemented yet, please stay tuned.

endchoice
endif

if SUBG_SAMPLE
source "examples/sub-g/subg-sample/Kconfig"
endif

if SUBG_TRX
source "examples/sub-g/subg-trx/Kconfig"
endif

if SUBG_WAKE_ON_RADIO
source "examples/sub-g/subg-wake-on-radio/Kconfig"
endif

if MESH_IT_UP_ROUTER
source "examples/sub-g/mesh-it-up/miu-router/Kconfig"
endif

if MESH_IT_UP_SLEEPY
source "examples/sub-g/mesh-it-up/miu-sleepy/Kconfig"
endif

if MESH_IT_UP_SNIFFER
source "examples/sub-g/mesh-it-up/miu-sniffer/Kconfig"
endif


