
#
# -------- USER SPACE --------
#
# CONFIG_HCI_RAW is not set
CONFIG_SPI_LOOPBACK=y
CONFIG_PERIPHERAL_EXAMPLE=y
# CONFIG_MULTI_PROTOCOL_RCP is not set
# CONFIG_SUBG_THREAD_METER is not set
# CONFIG_SUBG_THREAD_NCP is not set
# CONFIG_THREAD is not set
CONFIG_BUILD_PORJECT="qspi_dma_master"

#
# PROJECT CONFIG
#
# CONFIG_TEST_B_BOOL is not set

#
# PROJECT CONFIG
#
# end of PROJECT CONFIG
# end of PROJECT CONFIG

#
# SELECT DEVICE
#
# CONFIG_RT581 is not set
CONFIG_RT582=y
# CONFIG_RT583 is not set
# CONFIG_RT584 is not set
CONFIG_CHIP="RT582"
CONFIG_DONGLE=y
# CONFIG_EVB is not set
CONFIG_BOARD="EVB"
CONFIG_SYS_APP_TASK_STACK_SIZE=256
CONFIG_SYS_APP_TASK_PRIORITY=5
# CONFIG_PLATOFRM_ENABLE_SLEEP is not set
CONFIG_TARGET_CUSTOMER=""

#
# RT582 DONGLE
#
# end of RT582 DONGLE

CONFIG_FREERTOS=y
CONFIG_DRIVER=y
CONFIG_CRYPTO=y
CONFIG_HOSAL=y
# end of SELECT DEVICE

#
# SELECT COMPONENT
#
# CONFIG_BUILD_COMPONENT_CPC is not set
# CONFIG_BUILD_COMPONENT_BT is not set
# CONFIG_BUILD_COMPONENT_LMAC5P4 is not set
CONFIG_BUILD_COMPONENT_RT569=y
CONFIG_BUILD_COMPONENT_RT569_RF=y
CONFIG_BUILD_COMPONENT_RT569_FW=y
CONFIG_BUILD_COMPONENT_RUCI=y
# CONFIG_BUILD_COMPONENT_SUBG_CTRL is not set
# CONFIG_BUILD_COMPONENT_THREAD is not set
# CONFIG_BUILD_COMPONENT_ZIGBEE is not set
CONFIG_BUILD_COMPONENT_CLI=y
# CONFIG_BUILD_COMPONENT_ENHANCED_FLASH_DATASET is not set
CONFIG_BUILD_COMPONENT_LOG=y
CONFIG_BUILD_COMPONENT_UART_STDIO=y
CONFIG_BUILD_COMPONENT_UTILITY=y
# end of SELECT COMPONENT

#
# -------- KERNEL SPACE --------
#

#
# COMPILIER SETTING
#
CONFIG_OPT_DEFAULT=y
# CONFIG_OPT_O is not set
# CONFIG_OPT_O0 is not set
# CONFIG_OPT_O1 is not set
# CONFIG_OPT_O2 is not set
# CONFIG_OPT_O3 is not set
# CONFIG_OPT_Ofast is not set
# CONFIG_OPT_Og is not set
# CONFIG_OPT_Os is not set
# CONFIG_OPT_Oz is not set
CONFIG_COMPILE_OPTIMIZATION="-O"
CONFIG_CUSTOM_COMPILE_FLAG=""
# end of COMPILIER SETTING

#
# COMPONENT SETTING
#

#
# CPC
#
CONFIG_CPC_RX_PAYLOAD_MAX_LENGTH=620
# CONFIG_CPC_CRC_0 is not set
# end of CPC

#
# NETWORK
#

#
# PLATFROM
#

#
# UTLITY
#
# CONFIG_CLI_CMD_ENABLE is not set
CONFIG_UART_STDIO_PORT=0
CONFIG_UART_STDIO_BAUDRATE=2000000
CONFIG_LOG_LEVEL=1
# end of UTLITY
# end of COMPONENT SETTING
